/* INICIO - FOOTER */

footer {
    background-color: rgb(80, 78, 78);
    color: azure;
    min-height: 100vh;
    
  }
  
  a{
    color: azure;
  }
  
  .footer-menu0 ul li a:hover {
    background-color: orangered;
    list-style-type: none;
  }
  .footer-menu1 ul li a:hover {
    background-color: orangered;
    list-style-type:none;
  }
  .footer-menu2 ul li a:hover {
    background-color: orangered;
    list-style-type:none;
  }
  .footer-menu3 ul li a:hover {
    background-color: orangered;
    list-style-type: none;
  }
  
  div.div-footer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
  }
  
  .footer-menu4 {
    position: relative;
    top: 50px;
   }
  
   footer ul{
    list-style-type: none;
   }
  
   h3{
    color: rgb(12, 140, 187);
   }
  








/* FIM - FOOTER */












/*  FOOTER - MOBILE  INICIO  */






/*  FOOTER - MOBILE  FIM  */