/* INICIO - HEADER  */






/* FIM - HEADER  */






















/* INCIO - MAIN  */


@media(max-width:750px){


    *{
        text-align: center;
    }
    main.index-principal{
        flex-direction: column;
        font-size: small;
        
    }

    h2.index-html{
        font-size: 1px;

    }
    form{
        position: relative;
        margin:0 auto;
        width: 50%;
left: -15px;
    }
    input{
      align-items: center;
    }
    img.index-html{
        display: 100px;
        margin-top: 0px;
        margin-right: 0px;
    }

   
}



/* FIM - MAIN  */























/* INCIO - FOOTER  */







/* FIM - FOOTER  */