*{
    margin: 0;
    padding: 0;
}


@media screen and (max-width:750px){

    header{
        flex-direction: column;
    }
    
    main.index-principal{
        flex-direction: column;
    }

    h2{
        font-size: 38px;

    }
    form{
        margin:0 auto;
        width: 100%;

    }
    input{
      align-items: center;
    }
    img{
        display: 300px;
        margin-top: 50px;
        margin-right: 50px;
    }

    ul{
        text-align: center;
    }

}







body{
    background: linear-gradient(#ffffff, #f06800);
    color: rgb(12, 140, 187);
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px; 

}


.re-title{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}


.box-conteiner{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient( to bottom, rgb(12, 140, 187), rgba(8, 7, 7, 0)) 1 100%;
}


img{
    padding: 10%;
}
.box-title{
    
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
}
.box-container-text{

    align-items: center;
    margin: auto;
}
.mission-text{
   
    font-size: 20px;
    color: black;
    
}

li,ul{
    margin-left: 30px;
}


/* FIM - MAIN  */















